# OS & Editor
*.log
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Environment
.env
.env.*
/auth.json

# PHP
/vendor
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Node
/node_modules

# Laravel
/public/build
/public/hot
/public/storage

/storage/logs/*
/storage/framework/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml
